# Hidden
.idea
.DS_Store
# IDEs
.vs
.vscode
# Python-Module
home_controller_system.egg-info
# Python-Cache
.pytest_cache
tests/__pycache__
home_control_system/__pycache__
home_control_system/server/stream/__pycache__
home_control_system/service/__pycache__
home_control_system/server/__pycache__
home_control_system/app/__pycache__
# Generated Content
data/temp/image/*
data/temp/video/*
# test for branch to be in repo
poetry.lock