QMainWindow 
{
    color: @DarkTextColor;
    background-color: transparent;
}

QWidget
{
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    background-color: @LightColor;
}

QHBoxLayout
{
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    background-color: @LightColor;
}

QVBoxLayout
{
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    background-color: @LightColor;
}

QPushButton
{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: 0px;
    text-align: left;
    font: @ButtonTextSize Corbel, sans-serif;
    font-weight: 30;
    color: @LightTextColor;
}

QLabel
{
    font-weight: 10;
    color: @LightTextColor;
    font: @LabelTextSize Corbel, sans-serif;
}

/* SCROLL Area */

QScrollArea
{              
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    background-color: transparent;
}

QScrollBar
{              
    border: 0px;
    border-radius: 5px;
    width: 10px;
    margin: 0px 0px 0px 0px;
    background:  @DarkColor;
}

QScrollBar::handle
{              
    border: 0px;
    border-radius: 5px;
    width: 10px;
    margin: 0px 0px 0px 0px;
    background:  @DarkColor;
}

QScrollBar:vertical
{              
    border: 0px;
    border-radius: 5px;
    width: 10px;
    margin: 0px 0px 0px 0px;
    background:  @DarkColor;
}

QScrollBar::handle:vertical
{
    border: 0px;
    border-radius: 5px;
    min-height: 0px;
    background-color: @DarkTextColor;
}

QScrollBar::add-line:vertical
{
    border: 0px;
    border-radius: 5px;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    background-color: @DarkTextColor;
}

QScrollBar::sub-line:vertical
{
    border: 0px;
    border-radius: 5px;
    height: 0 px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    background-color: @DarkTextColor;
}

QScrollBar::sub-page:vertical
{
    background: @DarkColor;
}

QScrollBar::add-page:vertical
{
    background:  @DarkColor;
}